<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <td>{{ item.id }}</td>
            <td>{{ item.titre }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.prix }}</td>
            <td>
                <a [routerLink]="['..', 'edit', item.id]">Edition</a>
            </td>
        </tr>
    </tbody>
</table>