
<form [formGroup]="fg" (ngSubmit)="submitAction()">
    <div class="input-field">
        <input name="titre" formControlName="titre">
        <label for="titre">Titre</label>
        <ng-container *ngIf="fg.get('titre')?.errors as errors">
            <div *ngIf="errors.required">
                Le champ est obligatoire
            </div>
        </ng-container>
    </div>
    <div class="input-field">
        <textarea name="description" formControlName="description"></textarea>
        <label for="description">Description</label>
    </div>
    <div class="input-field">
        <input type="number" name="prix" formControlName="prix">
        <label for="prix">Prix</label>
        <ng-container *ngIf="fg.get('prix')?.errors as errors">
            <div *ngIf="errors.required">
                Le champ est obligatoire
            </div>
            <div *ngIf="errors.min">
                Le valeur minimum est de 0
            </div>
        </ng-container>
    </div>

    <button type="submit">Ajouter</button>
</form>